.HomePage{
    .contianer{
        position: fixed;
        z-index: 99 !important;
    }
}
.CartBadge{
    margin-inline: 20px;
    svg{
        font-size: 40px;
        color: #fff;
    }
}

.ar{
    .contianer{    
        .right{
        display: flex; flex-direction: column;
        width: 65%;
        gap: 50px;
        transition : .5s ease-in-out  ;

        .topLinks{
            padding-top: 30px;
            display: flex;
            justify-content: end;
            .link2 ,.link{
                font-size: 1.2vw;
                text-align: center;
                padding-inline: 1vw;
                height: 2vw;
                font-weight: normal;
                color: var(--secondary);
                border-left: none;
                border-right:2px solid var(--secondary) ;
                .anticon .anticon-shopping-cart{
                    color: var(--secondary) !important;
                }
                &:hover{
                    color: #fff;
                }

            }
            .link2{
                cursor: pointer;
                margin-right: 1vw;
                border-left: 2px solid var(--secondary);
            }
            .ant-btn {
                background: var(--bg3);
                border-radius:2px !important ;
                border: 1px solid var(--bg3);
                padding: 18px;
                display: flex;justify-content: center;align-items: center;
                color: #fff;
            }
        }

        .bottomLinks{
            .links{
                display: flex;
                p{   
                    .Link{
                        text-align: end;
                        font-size: 1.25vw;
                        padding-inline: 1vw;
                        height: 2vw;    
                        font-weight: normal !important;
                        color: var(--secondary);
                        border-left: 2px solid var(--secondary);
                        text-transform: uppercase;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    }
}
.contianer{
    display: flex;align-items: center;
    width: 100%;
    background: var(--primary);
    padding-inline: 30px;
    height: 21vh;
    transition : .5s ease-in-out  ;

    .ant-badge{
        transform: translateY(8px);
    }
    .left{
        width: 25%;
        transition : .5s ease-in-out  ;

        .Link{
            img{
                text-align: start;
                width: 100%;
            }
        }
    }

    .right{
        display: flex; flex-direction: column;
        width: 65%;
        gap: 30px;
        transition : .5s ease-in-out  ;

        .topLinks{
            display: flex;
            justify-content: end;
            .link2 ,.link{
                font-size: 1.2vw;
                text-align: center;
                padding-inline: 1vw;
                height: 2.2vw;
                font-weight: normal;
                color: var(--secondary);
                border-left: 2px solid var(--secondary);
                &:hover{
                    color: #fff;
                }
            }
            .link2{
                cursor: pointer;
                margin-right: 1vw;
                border-right: 2px solid var(--secondary);    
            }
            .themeMode{
                background: #000 !important;
                margin-inline: 10px;
            }
            .MenuChange{
                color: var(--whiteandblack) !important;
            }
            .ant-btn {
                background: var(--bg3);
                border-radius:2px !important ;
                border: 1px solid var(--bg3);
                padding: 18px;
                display: flex;justify-content: center;align-items: center;
                color: #fff;
            }
        }

        .bottomLinks{
            .links{
                display: flex;
                .Icon{
                    display: none ;
                }
                p{   
                    .Link{
                        text-align: end;
                        font-size: 1.25vw;
                        padding-inline: 1vw;
                        height: 2vw;    
                        font-weight: normal !important;
                        color: var(--secondary);
                        border-left: 2px solid var(--secondary);
                        text-transform: uppercase;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .MenuNav{
        display: none;
    }
}


.divider{
    background: #fff;
    margin: 10px;
    height: 1px;
}
.fakeNav{
    height: 9vh;
    display: flex;justify-content: space-between;align-items: center;
    width: 96%;
    margin-inline: auto;
    div{
        width: 50%;
        text-align: end;
        img{
            width: 50%;
        }
    }
    p{
        width: 50%;
        font-size: 20px;
        color: var(--blacktowhite);
    }
}
.topLinks2{
    display: flex;justify-content: space-between;
    width: 96%;
    margin-inline: auto;
    div{
        .link2 ,.link{
            font-size: 22px;
            text-align: center;
            padding-inline: 1vw;
            font-weight: normal;
            color: var(--secondary);
            border-left: 2px solid var(--secondary);
            &:hover{
                color: #fff;
            }
        }
        .link2{
            cursor: pointer;
            margin-right: 1vw;
            border-right: 2px solid var(--secondary);    
        }
    }
    .ant-btn {
        background: var(--bg3);
        border-radius:2px !important ;
        border: 1px solid var(--bg3);
        padding: 18px;
        display: flex;justify-content: center;align-items: center;
        color: #fff;
    }
}


:where(.css-dev-only-do-not-override-i1mju1).ant-drawer .ant-drawer-body {
padding: 0 24px;
}
.menuButton{
    border: 1px solid #fff;
    @include Shadow;
    background:  var(--primary) !important;
    padding: 25px !important;
    display: flex;justify-content: center;align-items: center;
    width: 50px !important;
    &:hover{
        color: #000 !important;
        .anticon svg {
            font-size: 25px;
            color: #fff;
            &:hover{
                color: #fff !important;
            }
        }
    }
    
    .anticon svg {
        font-size: 25px;
        color: #fff;
        &:hover{
            color: #fff !important;
        }
    }
}

@media screen and (max-width: 850px) {

    .DrawerLinks{
        .oneLink_container{
            @include underLineText(var(--primary), var(--secondary));
            padding-bottom: 2px;
            svg{
                color: var(--fifthly);
            }
        }
        P{
            a{
                color: var(--fifthly) !important;
            }

        }
    }
    .topLinks2{
        display: flex;justify-content: space-between;
        width: 96%;
        margin-inline: auto;
        div{
            .link2 ,.link{
                font-size: 15px;
                text-align: center;
                padding-inline: .5vw;
                font-weight: normal;
                color: var(--fifthly) !important;
                border-right: 2px solid #000;
                border-left:none  !important;
                &:hover{
                    color: #fff;
                }
            }
            .link2{
                cursor: pointer;
                margin-right: 1vw;
                border-left: 2px solid #000;    
            }
        }
    }

    
        .right{
            display: none !important;
        }
    .contianer{
        display: flex;align-items: center;justify-content: space-between;
        width: 100%;
        background: var(--primary);
        padding-inline: 30px;
        height: 11vh;
        .left{
            width: 25%;
            .Link{
                img{
                    text-align: start;
                    width: 100%;
                }
            }
        }
        .right{
            display: none;
        }
        .MenuNav{
            display: flex;justify-content: space-between;
        }
        .viewCart{
            padding-right: 15px;
            .countArabic{
                display: none  !important;  
                top: 15px !important;
            }
            .cart_count{
                display: flex;justify-content: center;align-items: center;
                position: absolute;
                top: 15px;
                left: 90px;
                font-size: 10px;
                color: #000;
                background: #fff;
                padding: 0px;
                border-radius: 50%;
                width: 20px;
                height: 20px;
            }
            
            div{
                padding: 14px;
                background: var(--primary);
                border-radius: 50%;
                border: 1px solid #fff;
                svg{
                    color: #fff;
                    font-size: 30px;
                }
            }
        }
    }
    .DrawerLinks{
            display: flex; flex-direction: column;justify-content: start;align-items: start;
            width: 98%;
            padding: 0;
            margin-inline: auto;
            p{   
                line-height: 15.5px;
                .Link{
                    text-align: end;
                    font-size: 20px;
                    padding-inline: 1vw;
                    height: 2vw;    
                    font-weight: normal !important;
                    color: var(--secondary);
                    text-transform: uppercase;
                    &:hover{
                        color: #fff;
                    }
                }
        }
    }
}

@media screen and (max-width:500px) {
    .contianer{
        padding-inline: 10px;
        .left{
            width: 40% !important;
        }
    }
    .divider2{
        display: none;
    }
    .fakeNav{
        div{
            img{
                width: 70%;
            }
        }
    }
}


:where(.css-dev-only-do-not-override-i1mju1).ant-modal .ant-modal-content {
    background: var(--bg4) !important;

}
.ant-modal-content {
    // background: hsl(212.73deg 29.73% 92.75%) !important;
    background: var(--bg4) !important;
}

.ant-modal-content{
    padding : 20px;
    background: hsl(212.73deg 29.73% 92.75%) !important;
    background: var(--bg4) !important;

}

.LoginModel{
    background: hsl(212.73deg 29.73% 92.75%);
    background: var(--bg4) !important;

    display: flex;
    align-items: flex-start;
    min-height: 280px;
    gap: 10px;
    h1{
        margin-bottom: 20px;
        color:  var(--thirdly);
        font-size: 28px;
    }

    .LoginModel_Left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 65%;
        .form{
            padding-inline:10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 30px;
            .login_dev{
                width: 100%;
                @include Shadow;  
                label{
                    font-weight: bolder;
                    color:  var(--thirdly);
                }  
                .input{
                    padding: 12px;
                    background: white;
                    width: 100%;
                    outline: none;
                    border: none;
                    font-weight: bold;
                }
            }
            button{
                width: 120px;
                padding: 10px;
                align-self: flex-end;
                background: var(--thirdly);
                color: var(--whiteandblack);
                outline: none;
                border: none;
                font-weight: bold;
            }
        }
        
    }
    .LoginModel_Right{
        // background: hsl(215.29deg 23.29% 85.69%);
        background: #000;
        // background: var(--primary);
        padding: 20px 15px;
        max-width: 30%;
        margin-inline: auto;
        font-weight: bold;
        align-self: flex-end;
        flex: 35%;
        h6{
            color: var(--thirdly);
            font-size: 12px;
        }
        p{
            color:#616d7f;
            font-size: 10px;
        }
        button{
            width: 120px;
            font-size: 12px;
            padding: 4px;
            align-self: flex-end;
            background: var(--thirdly);
            color: var(--whiteandblack);
            outline: none;
            border: none;
            font-weight: bold;

        }
}

}
:where(.css-dev-only-do-not-override-i1mju1).ant-modal .ant-modal-close-x{
    color: var(--fifthly);
}


@media screen and (max-width: 950px) {
    .ant-modal-content{
        width: 400px;
    
    }
    .LoginModel{
        display: flex;
        align-items: flex-start;
        min-height: 320px;
        flex-wrap: wrap;
      
        h1{
            text-wrap: wrap;
            margin-bottom: 40px;
        }
        .LoginModel_Left{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .form{
                padding-inline: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 30px;
                    .input{
                        padding: 12px;
                        @include Shadow;    
                        outline: none;
                        border: none;
                        font-weight: bold;
                        
                    }
                button{
                    width: 120px;
                    padding: 10px;
                    flex: 10%;
                    align-self: flex-start;
                    outline: none;
                    border: none;
                    color: white;
                    font-weight: bold;
    
                }
            }
            
          
    
    
        }
        .LoginModel_Right{
            padding: 20px;
            max-width: 100%;
            margin-inline: auto;
            font-weight: bold;
            align-self: flex-end;
            margin-top: 20px;
            p{
                font-size: 13px;
    
            }
            button{
                width: 120px;
                padding: 10px;
                align-self: flex-start !important;
                outline: none;
                border: none;
                color: white;
                font-weight: bold;
            }
    }
    
    }

}

.Scrolledcontianer{
    transition : .5s ease-in-out  ;
    height: 18vh;

    .right{
        transition : .5s ease-in-out  ;

        gap: 10px;
    }

    .left{
        width: 25%;
        .Link{
            img{
                transition : .5s ease-in-out  ;

                text-align: start;
                width: 90%;
            }
        }
    }
    .viewCart{
        transition : .5s ease-in-out;
        .cart_count{
            transition : .5s ease-in-out;
            top: 40px;
        }
    }
}


@media screen and (max-width:500px) {
    .contianer .MenuNav{
        width: 50%;
        justify-content: end;
    }
}


@media screen and (max-width:950px) {
    :where(.css-dev-only-do-not-override-i1mju1).ant-modal .ant-modal-content {
        width: 90%;
        margin-inline: auto;
    }
}


@media screen and (max-width:500px) {
    .LoginModel_Left{
        h1{
            font-size: 20px !important;
        }
    }
}

.Toastify__toast-container--top-right{
    z-index:9999999999999;
}