.consign{
    .title_container{
        width: 100%;
        background: var(--bg2);
        padding-block: 60px;
        @include Flex ;
        flex-direction: column;
        .text{
            width: 30%;
            font-size: 20px;
            border: none !important;
            margin-block: 20px;
            text-align: center;
            color: var(--fifthly);
        }
        .title{
            font-size: 50px;
            border-bottom: 1px solid var(--thirdly);
            font-weight: normal;
            text-align: center;
            width: 35vw;
            color: var(--thirdly);
            padding-bottom: 10px;
        }
    }
}

.body_contact{
    padding-block: 30px;
    width: 90%;
    margin-inline: auto;
    display: flex; align-items: start; justify-content: space-between;
    .form_container{
        width: 32%;
        p{
            width: 100%;
            font-size: 30px;
            color: var(--thirdly);
            text-align: center;
        }
        .KarimField{
            width: 100%;
            display: flex;
            margin-block: 10px;
            :where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item, :where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item, :where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item{
                border: 2px solid var(--border2);
            }
            .anticon svg{
                color: var(--secondary);
            }
            .upload{
                width: 100%;
                .partner_image{
                border-radius: 3px !important;
                border: 1px solid var(--border2) !important;
                color: var(--thirdly);
                background: var(--whiteandblack) !important;
                }
            }
        }
    }
    .messages{
        width: 32%;
        p{
            width: 100%;
            font-size: 30px;
            color: var(--thirdly);
            text-align: center;
        }
        .form{
            width: 100%;
            .consign_input{
                border-radius: 2px;
                border: 2px solid rgba(0,0,0,0.3);
                color: var(--thirdly);
                // opacity: .5;
            }
            .button_container{
                display: flex;justify-content: end;align-items: end;
            }
            .button{
                width: 30%;
                padding: 10px 0;
                color: var(--whiteandblack);
                background: var(--thirdly);
                border: none;
                border-radius: 3px;
            }
        }
    }
    .consign_contact{
        width: 30%;
        display: flex; flex-direction: column;
        .title{ 
            width: 100%;
            font-size: 30px;
            color: var(--thirdly);
            text-align: center;
        }
        .p{
            width: 80%;
            margin-inline: auto;
            font-size: 20px;
            font-weight: bold;
            color: var(--thirdly);
            span{
                font-weight: normal;
                font-size: 20px;
            }
        }
    }
}

:where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item{
    padding: 80px 20px !important;
}
:where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item, :where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item, :where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item{
    border-radius: 2px !important;
    border: 2px solid rgba(0,0,0,0.3);
}

:where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item .ant-upload-list-item-thumbnail .anticon, :where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item .ant-upload-list-item-thumbnail .anticon, :where(.css-dev-only-do-not-override-i1mju1).ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-circle .ant-upload-list-item .ant-upload-list-item-thumbnail .anticon{
    color:rgba(0,0,0,0.3) !important;
}



@media screen and (max-width:1000px) {
    
    .consign{
        .title_container{
            .text{
                width: 50%;
            }
            .title{
                width: 50vw;
            }
        }
    }
    
    .body_contact{
        width: 94%;
        align-items: center; 
        flex-direction: column;
        .form_container , .messages, .consign_contact {
            margin-block: 20px;
            width: 80%;
        }
        
    .messages{
        .form{
            .button{
                width: 100%;
            }
        }
    }
        .consign_contact{
            .p{
                width: 100%;
            }
        }
    }
}


@media screen and (max-width:700px) {
    
    .consign{
        .title_container{
            .text{
                width: 70%;
            }
            .title{
                font-size: 40px;
                width: 65vw;
            }
        }
    }
}