.Orders{
    width: 100%;
        .title_container{
            width: 100%;
            background: var(--bg2);
            padding-block: 60px;
            @include Flex;
            h1{
                font-size: 50px;
                border-bottom: 1px solid var(--thirdly);
                font-weight: normal;
                text-align: center;
                width: 15vw;
                color: var(--thirdly);
            }
        }
    .form{
        padding: 30px 6vw;
    }
    .Header{
        width: 100%;
        background: var(--bg);
        @include Shadow;
        font-size: 2vw;
        padding: 10px;
        @include Flex;
        margin-block: 10px;
        color: var(--thirdly);
    }
    :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-pagination-right{
        justify-content: center !important;
    }
}
:where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper tfoot>tr>td{
    background: var(--whiteandblack);
}
:where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-thead >tr>td{
    color: var(--blacktowhite);
}
:where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper tfoot>tr>td
{
    color: var(--blacktowhite);
}
:where(.css-dev-only-do-not-override-i1mju1).ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover{
    background: var(--whiteandblack);
}

@media screen and (max-width: 650px) {
    .Orders{
        overflow-x: hidden;
        margin-inline: auto;
    }
    tbody, td, tfoot, th, thead, tr{
        font-size: 10px !important;
    }
    :where(.css-dev-only-do-not-override-1adbn6x).ant-tag, :where(.css-dev-only-do-not-override-1adbn6x).ant-tag a, :where(.css-dev-only-do-not-override-1adbn6x).ant-tag a:hover{        font-size: 1px !important;
        font-size: 11px !important;
    }
    :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper tfoot>tr>td {
        position: relative;
        padding: 11px 8px;
        overflow-wrap: break-word;
    }
    
  }

  @media screen and (max-width: 450px) {
    .Orders{
        overflow-x: hidden;
    }
    .ant-tag{
        font-size: 8px;
    }
    .ant-table-cell{
        padding: 5px !important;
    }
    tbody, td, tfoot, th, thead, tr{
        font-size: 6px !important;
    }
    :where(.css-dev-only-do-not-override-1adbn6x).ant-tag, :where(.css-dev-only-do-not-override-1adbn6x).ant-tag a, :where(.css-dev-only-do-not-override-1adbn6x).ant-tag a:hover{        font-size: 1px !important;
        font-size: 7px !important;
    }
    :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-1adbn6x).ant-table-wrapper tfoot>tr>td {
        position: relative;
        padding: 7px 5px !important;
        overflow-wrap: break-word;
    }
  }

  @media screen and (max-width:900px) {
    .Orders{
        .title_container{
            h1{
                width: 32vw;
            }
        }
        .form{
            padding-bottom: 100px;
        }
    }
}
@media screen and (max-width:500px) {
    .Orders{
        .title_container{
            h1{
                font-size: 35px;
                width: 47vw;
            }
        }
    }
}

  ////// SINGLE ORDER INFO ////////////////////////////////////////////////
@media screen and (max-width: 775px) {
    .SingleOrderInfo{
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .SingleOrderInfo{
        .SingleOrderInfoFont{
            font-size: 11px !important;
        }
    }
}




















.singleOrder_page{
    background: var(--bg) !important;
    .header{
        background: var(--whiteandblack);
        border-radius: 9px 9px 0 0 ;
        .Title{
            color: var(--border) !important; 
        }
    }
    .SingleOrderInfoFont{
        color: var(--border2) !important; 
    }
    .body_title{
        color: var(--border) !important;
    }
    .order_body{
        border: 1px solid var(--white);
        background: var(--whiteandblack);
    }
}